<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.involveit.shiners">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjWyZDlkMeu2NLTCODcVX19VAlTnfLnB0" />

        <activity
            android:name=".activities.HomeActivity"
            android:icon="@drawable/shiners_add3x"
            android:label="Главное">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.LogInActivity"
            android:label="Login"
            android:theme="@style/AppThemeAuth" />
        <activity
            android:name=".activities.auth.RegisterActivity"
            android:label="Registration"
            android:theme="@style/AppThemeAuth" />

        <service
            android:name=".services.SimpleLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.PostDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.newpost.NewPostActivity"
            android:label="New Post" />
        <activity
            android:name=".activities.newpost.WhereActivity"
            android:label="Where is it located?" />
        <activity
            android:name=".activities.newpost.WhenActivity"
            android:label="When does it expire?" />
        <activity
            android:name=".activities.newpost.PhotoActivity"
            android:label="How does it look like?" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".activities.DialogActivity"
            android:label="Dialog"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DialogActivity" />
        </activity>

        <service
            android:name=".services.BackgroundLocationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>