<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.buzzar.appPrityazhenie">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="org.buzzar.appPrityazhenie.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.involveit.shiners.permission.C2D_MESSAGE" />

    <application
        android:name="org.buzzar.appPrityazhenie.App"
        android:allowBackup="true"
        android:icon="@drawable/shiners_add3x"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_x2qZmBzH2XJFIsfU8vab99jwiG_u-2g" />

        <activity
            android:name="org.buzzar.appPrityazhenie.activities.HomeActivity"
            android:icon="@drawable/shiners_add3x"
            android:label="Shiners"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.auth.LogInActivity"
            android:label="@string/msg_log_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAuth" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.auth.RegisterActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAuth" />

        <service
            android:name="org.buzzar.appPrityazhenie.services.SimpleLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="org.buzzar.appPrityazhenie.activities.PostDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.newpost.NewPostActivity"
            android:label="@string/new_post_header"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.newpost.WhereActivity"
            android:label="@string/where_is_it_located"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.newpost.WhereEventActivity"
            android:label="@string/where_is_it_located"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.newpost.WhenActivity"
            android:label="@string/when_does_it_expire"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.newpost.WhenEventActivity"
            android:label="@string/when_does_it_expire"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.buzzar.appPrityazhenie.activities.newpost.PhotoActivity"
            android:label="@string/how_does_it_look_like"
            android:screenOrientation="portrait" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name="org.buzzar.appPrityazhenie.activities.DialogActivity"
            android:label="Dialog"
            android:parentActivityName="org.buzzar.appPrityazhenie.activities.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.buzzar.appPrityazhenie.activities.DialogActivity" />
        </activity>

        <service
            android:name="org.buzzar.appPrityazhenie.services.BackgroundLocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="org.buzzar.appPrityazhenie.services.GcmNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="org.buzzar.appPrityazhenie.services.GcmIdListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.involveit.shiners" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.buzzar.appPrityazhenie.activities.settings.MyProfileActivity"
            android:label="@string/my_profile"
            android:parentActivityName="org.buzzar.appPrityazhenie.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="org.buzzar.appPrityazhenie.activities.settings.AboutUsActivity"
            android:label="@string/about_us"
            android:parentActivityName="org.buzzar.appPrityazhenie.activities.HomeActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>